  <div class="sign-up-container" id="hi">
    <form action="/" method="post">
      <div class="">
      <label>Name:</label>
      <input type="text"  name="[user]name" placeholder="Full Name">
      </div>
      <div class="">
    	<label>Username:</label>
      <input type="text" name="[user]username" placeholder="Be Creative!">
      </div>
      <div class="">
    	<label>Password:</label>
      <input type="text" name="[user]password" placeholder="Password">
      </div>
      <div class="">
      <label>E-mail:</label>
      <input type="text" name="[user]email" placeholder="E-mail">
      </div>
      <div class="">
      <label>Location:</label>
      <input type="text" name="[user]location" placeholder="City, State">
      </div>
      <div class="">
      <label>Motto:</label>
      <input type="text" name="[user]motto" placeholder="Motto!">
      </div>
      <label>Interests:</label>
      <textarea name="[user]interests" maxlength="250" rows="5" cols="50" placeholder="Tell Us What You Like!"></textarea>


        <div class="submit-align">
          <input type="submit" value="Sign up" class="submit">
        </div>

    </form>
  </div>



<% if Blog.all.length >= 10 %>
  <%= totalblogs = Blog.all.length  %>
  <%= totalblogs1 = Blog.all.length - 10 %>

  <%(totalblogs1..totalblogs).reverse_each do |i| %>
    <div class="">
      <%= Blog.find(i).content %>
    </div>
  <%end %>

<% end %>
