<form action="/" method="post">
  <div class="">
  Name: <input type="text" name="[comment]name" placeholder="Your Name">
  </div>
  <div class="">
	Username: <input type="text" name="[comment]username" placeholder="Username">
  </div>
  <div class="">
	Password: <input type="text" name="[comment]password" placeholder="Password">
  </div>
  <div class="">
  E-mail: <input type="text" name="[comment]email" placeholder="E-mail">
  </div>
  <div class="">
  Location: <input type="text" name="[comment]location" placeholder="City, State">
  </div>
  <div class="">
  Motto: <input type="text" name="[comment]motto" placeholder="Motto!">
  </div>
  Interests: <textarea name="[comment]interests" rows="8" cols="80" placeholder="Interests"></textarea>
	<input type="submit" />
</form>

<%(1..2).each do |i| %>

<div class="">
  <%= Blog.find(i).content %>
</div>

<%end %>
