<<<<<<< HEAD
<a href="/logout">Log Out</a>
<div class="">
  <a href="/login">Login</a>
</div>


<div class="main-container">
  <%= yield %>
</div>
<link rel="stylesheet" type="text/css" href="styles.css">
=======
<link rel="stylesheet" type="text/css" href="css/styles.css">
>>>>>>> sam
