<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<script type="text/javascript" src="js/main.js"></script>


<div>
	<ul class="menu">
		<% if !session[:user_id] %>
		<a href="/"><li>Sign up</li></a>
		<% end %>

		<% if session[:user_id] %>
		<a href="/profile"><li>Profile</li></a>
		<% end %>

		<% if !session[:user_id] %>
		<a href="/login"><li>Log in</li></a>
		<% end %>
		
		<% if session[:user_id] %>
		<a href="/logout"><li>Log out</li></a>
		<% end %>

		<% if session[:user_id] %>
		<a href="/edit"><li>Account Settings</li></a>
		<% end %>

	</ul>
	<div class="clear"></div>
</div>




  <%= yield %>
