<div class="sign-up-container">
	<form class="" action="/login" method="post">
		<label>Username:</label>
		<input type="text" name="username" value="">
		<label>Password:</label>
		<input type="text" name="password" value="">

		<div class="submit-align">
			<input type="submit" value="Log in" class="submit">
		</div>
	<% if flash[:notice] %>
	<div class="flash-retry">
		<%= flash[:notice]  %>
		<% elsif flash[:logged] %>
		<%= flash[:logged]  %>
	</div>
	<% end %>
</div>
	</form>




