
 <div class="background"></div>

<div class="login-container" id="modal">
	<form class="" action="/login" method="post">
		<label>Username:</label>
		<input autofocus type="text" name="username">
		<label>Password:</label>
		<input type="text" name="password">

		<div class="submit-align">
			<input type="submit" value="Log in" class="submit">
		</div>
	<% if flash[:notice] %>
	<div class="flash-retry">
		<%= flash[:notice] %>
		<% elsif flash[:logged] %>
		<%= flash[:logged]  %>
	</div>
	<% end %>
</div>
	</form>





